<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color:#fff">
        <div class="container-fluid">
            <a class="navbar-brand" style="color:darkslategrey" href="/">YangCoffee</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Product" asp-action="ProductList">Product</a>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </form>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>

    <nav class="p-3 text-bg-dark" style="background-color: #2b80ff !important;">
        <div id="userHomePage" class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h3 class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    YangCoffee</h3>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a asp-controller="User" asp-action="Home" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="#carouselExampleInterval" class="nav-link px-2 text-white">Introduce</a></li>
                    <li><a href="#about" class="nav-link px-2 text-white">About</a></li>
                    <li><a asp-controller="Product" asp-action="Search" class="nav-link px-2 text-white">Product</a>
                    </li>
                </ul>

                <form class="d-flex" role="search" asp-action="Search" method="get" asp-controller="Product"
                    style="margin-right: 2rem;">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        value="@ViewData["CurrentFilter"]" name="searchString">
                    <button class="btn btn-outline-success" asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]" type="submit"
                        style="color: snow;border: 1px solid #dee2e6;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </form>

                <div class="text-end">
                    @*----------------------------------------------------Don't delete this--------------------------------------------*@
                    <button class="btn btn-primary" style="background:fixed; border:none;" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #000000;"></i>
                    </button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                        aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasRightLabel">Shopping Cart</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="list-group mb-3">
                                <li class="list-group-item d-flex justify-content-between lh-sm"
                                    style="text-align: justify;">
                                    <div>
                                        <h6 class="my-0">Nike T-shirt</h6>
                                        <small class="text-body-secondary">Quantity: 2</small>
                                    </div>
                                    <span class="text-body-secondary">$12</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm"
                                    style="text-align: justify;">
                                    <div>
                                        <h6 class="my-0">Second product</h6>
                                        <small class="text-body-secondary">Brief description</small>
                                    </div>
                                    <span class="text-body-secondary">$8</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between lh-sm"
                                    style="text-align: justify;">
                                    <div>
                                        <h6 class="my-0">Third item</h6>
                                        <small class="text-body-secondary">Brief description</small>
                                    </div>
                                    <span class="text-body-secondary">$5</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between" style="text-align: justify;">
                                    <span>Total (USD)</span>
                                    <strong>$20</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="mt-5">

        <footer style="background-color: #eee6d3;">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <h5 class="mb-3 text-dark">footer content</h5>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                            voluptatem veniam, est atque cumque eum delectus sint!
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <h5 class="mb-3 text-dark">links</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">FAQ</a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">Classes</a>
                            </li>
                            <li class="mb-1">
                                <a href="#!" style="color: #4f4f4f;">Pricing</a>
                            </li>
                            <li>
                                <a href="#!" style="color: #4f4f4f;">Safety</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <h5 class="mb-1 text-dark">opening hours</h5>
                        <table class="table" style="border-color: #666;">
                            <tbody>
                                <tr>
                                    <td>Mon - Fri:</td>
                                    <td>8am - 9pm</td>
                                </tr>
                                <tr>
                                    <td>Sat - Sun:</td>
                                    <td>8am - 1am</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center p-3">
                    © 2025 Copyright:
                    <a class="text-dark" href="#">YangCoffee</a>
                </div>
            </div>

            <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
